@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #6c6a74;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 100%;
	height: 61px;
	background: none;
	text-align: center;
	border: solid 2px #1b1b1b;
	overflow: hidden;
	cursor: pointer;
}
.button a
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 57px;
	color: #1b1b1b;
	background: none;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::after
{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #1b1b1b;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button:hover::after
{
	opacity: 1;
    /*-webkit-transform: rotate3d(0, 0, 1, 0deg);*/
    /*transform: rotate3d(0, 0, 1, 0deg);*/
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button_light
{
	border: solid 2px #FFFFFF;
}
.button_light::after
{
	background: #FFFFFF;
}
.button_light a
{
	color: #FFFFFF;
}
.button:hover a
{
	color: #FFFFFF;
}
.button_light:hover a
{
	color: #1b1b1b;
}

/*********************************
6. Contact
*********************************/

.ttt
{
	font-size: larger;
	color: #929ca5;
}
.ttt2
{
	font-size: larger;
	color: #fc7265;
	border-bottom: 4px solid #fc7265;
	padding-bottom: 5px;
}
.logox
{
	margin:auto;
	margin-top: 50px;
	margin-bottom: 30px;
}
.back
{
	margin: auto;
	margin-top: 6%;
	width: 100%;
	padding-left: 60px;
	background: #FFFFFF;
	padding-bottom: 53px;
	padding-right: 58px;
	border: solid 2px #FFFFFF;
	border-radius: 3px;

	box-shadow: 0 20px 16px -15px rgba(0, 0, 0, 0.57);
}
.contact
{
	height: 100%;
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 93px;
	padding-bottom: 400px;
}

.contact_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.section_title
{
	margin-top: 50px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #1b1b1b;
}
.section_subtitle
{
	margin-top: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.contact_form_container
{

	width: 100%;
	margin-top: 40px;
}
.contact_form > div:not(:last-child)
{
	margin-bottom: 14px;
}
.contact_form label
{
	margin-top: 30px;
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.contact_input
{
	width: 100%;
	height: 52px;
	border: none;
	outline: none;
	background: #f2f4f8;
	padding-left: 15px;
	border-radius: 3px;
}
.contact_textarea
{
	height: 197px;
	padding-top: 15px;
}
.contact_button
{
	font-size: large;
	position: relative;
	margin-top: 30px;
	background-color: #54b07d;
	border: solid 0px #7F7F7F;
	border-radius: 30px;
}
.contact_button span
{
	display: block;
	position: relative;
	color: #FFFFFF;
	z-index: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover span
{
	color: #000000;

}
.contact_info_section:not(:first-child)
{
	margin-top: 74px;
}
.contact_info_title
{
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
}
.contact_info_section ul
{
	margin-top: 46px;
}
.contact_info_section ul li
{
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
.contact_info_section ul li:not(:last-child)
{
	margin-bottom: 7px;
}
.contact_info_section ul li span
{
	color: #6c6a74;
	margin-left: 8px;
}
.map_row
{
	margin-top: 98px;
}
.google_map
{
	width: 100%;
	height: 577px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
7. Footer
*********************************/

.footer_overlay
{
	width: 100%;
	height: 129px;
	background: transparent;
	z-index: 1;
}
.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
.footer_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer_content
{
	width: 100%;
	height: 129px;
}
.footer_logo
{
	width: 30%;
}
.footer_logo a
{
	font-size: 30px;
	line-height: 0.75;
	color: #1b1b1b;
	font-weight: 700;
}
.copyright
{
	width: 40%;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
}
.footer_social
{
	width: 30%;
	text-align: right;
}
.footer_social ul li
{
	display: inline-block;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 26px;
}
.footer_social ul li a i
{
	font-size: 17px;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #FFFFFF;
}