@font-face {font-family: "iconfont";
  src: url("../fonts/iconfont.eot?-fvbane"); /* IE9 */
  src: url("../fonts/iconfont.eot?-fvbane") format('embedded-opentype'), /* IE6-IE8 */
  url("../fonts/iconfont.woff2?-fvbane") format('woff2'),
  url("../fonts/iconfont.woff?-fvbane") format('woff'),
  url("../fonts/iconfont.ttf?-fvbane") format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/iconfont.svg#iconfont?-fvbane") format('svg'); /* iOS 4.1- */

  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-network:before {
  content: "\e626";
}

.icon-fileshell:before {
  content: "\e721";
}

.icon-hadoop29:before {
  content: "\e70a";
}

.icon-spring:before {
  content: "\e61d";
}

.icon-weixin:before {
  content: "\e628";
}

.icon-sql:before {
  content: "\e763";
}

.icon-zhinengsuanfa:before {
  content: "\e6c8";
}

.icon-net:before {
  content: "\e60b";
}

.icon-unity:before {
  content: "\e90b";
}

.icon-APP:before {
  content: "\e602";
}

.icon-Oracle:before {
  content: "\ea23";
}

.icon-mongodb:before {
  content: "\e63e";
}

.icon-css:before {
  content: "\e653";
}

.icon-jquery:before {
  content: "\e655";
}

.icon-php:before {
  content: "\e66c";
}

.icon-bootstrap:before {
  content: "\e683";
}

.icon-shuxue:before {
  content: "\e729";
}

.icon-zuzhijiagou-:before {
  content: "\e613";
}

.icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-:before {
  content: "\e62e";
}

.icon-angular:before {
  content: "\f164";
}

.icon-java:before {
  content: "\f1d7";
}

.icon-python:before {
  content: "\f216";
}

.icon-react:before {
  content: "\f21a";
}

.icon-vuejs:before {
  content: "\f25f";
}

.icon-http-:before {
  content: "\e60d";
}

.icon-shujuwajue:before {
  content: "\ec5c";
}

.icon-wuguan:before {
  content: "\ec5f";
}

.icon-bug:before {
  content: "\ec63";
}

.icon-shujukuleixingtubiao-kuozhan-:before {
  content: "\e604";
}

.icon-logo-javascript:before {
  content: "\e600";
}

.icon-shujujianmo:before {
  content: "\e641";
}

.icon-SqlServer:before {
  content: "\e63a";
}

.icon-db_hbase_cluster:before {
  content: "\e799";
}

.icon-db_redis_instance:before {
  content: "\e7ae";
}

.icon-kafkajieruzujian:before {
  content: "\e6f3";
}

.icon-spark:before {
  content: "\e672";
}

